.advantages {
    min-height: 470px;
    padding: 70px 0 95px 0;
    background-color: #f6f6f6;
    &__wrepper {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 920px;
    }
    &__benefit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 65px;
        width: 235px;
        img {
            width: 70px;
            height: 70px;
            display: block;
            margin: 0 auto;
        }
    }
    &__text {
        margin-top: 37px;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        color: #0d0d0d;
        span {
            display: block;
            margin-top: 29px;
            font-size: 14px;
            font-weight: 300;
            line-height: normal;
        }
        a {
            color: #f00;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }

}
@media (max-width: $medium) {
    .advantages {
        &__benefit {
            padding: 0 7px;
        }
        &__text {
            font-size: 15px;
            span {
                font-size: 11px;
                margin-top: 19px;
            }
        }
    }
}

@media (max-width: $small) {
    .advantages {
        padding: 50px 0 70px 0;
        &__wrepper {
            flex-direction: column;
            justify-self: center;
            align-items: center;
        }
        &__benefit {
            margin-top: 42px;
            width: 266px;
        }
        &__text {
            margin-top: 17px;
            font-size: 17px;
            span {
                margin-top: 11px;
                font-size: 15px;
            }
        }

    }
}