.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0d0d0d;
}
@media (max-width: $medium) {
    .title{
       font-size: 27px; 
    }
    
}
@media (max-width: $small) {
    .title{
       font-size: 23px; 
    }
    
}