.title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0d0d0d;
    &_left {
        font-size: 36px;
        text-align: left;
        line-height: 45px;
        color: #fff;
    }
}
@media (max-width: $medium) {
    .title{
       font-size: 27px;
       &_left {
        font-size: 21px;
        line-height: 35px;
       } 
    }
    
}
@media (max-width: $small) {
    .title{
       font-size: 20px; 
       &_left {
        font-size: 14px;
        line-height: 19px;
       }
    }
    
}